@using Nhom3_ST4_MuaBanBanGhe.Models;
@model List<HoaDon>



<table class="table table-striped table-hover">
    <tr>
        <th><label class="font-weight-bold">ID</label></th>

        <th><label class="font-weight-bold">Ngày Lập</label></th>
        <th><label class="font-weight-bold">Ngày Giao</label></th>
        <th><label class="font-weight-bold">Địa chỉ Giao</label></th>
        <th><label class="font-weight-bold">Tình Trạng</label></th>
        <th><label class="font-weight-bold">Tổng Tiền</label></th>
        <th></th>
    </tr>
    
    @foreach (var item in Model)
    {
        <tr>
            <td><label>@item.idHoaDon</label></td>
            <td><label>@item.NgayLap</label></td>
            <td><label>@item.NgayGiao</label></td>
            <td><label>@item.DiaChiGiao</label></td>
            <td><label>@item.TinhTrang</label></td>
            <td><label>@item.TongTien</label></td>
            <td><a href="@Url.Action("hienthiChiTiet", "Giohang", new {ma = @item.idHoaDon})">Chi tiết</a></td>
        </tr>

    }
</table>